# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/
*.egg-info/
.eggs/

# Distribution / packaging
build/
dist/
*.egg
*.whl

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Log files
*.log

# SQLite database
*.db
*.sqlite

# Streamlit specific
.cache/
*.streamlit/

# Miscellaneous
*.DS_Store
Thumbs.db
*.swp
*.swo
